/* -- created by Tivotal -- */

/* -- Google Fonts -- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #252839;
}

h2 {
  font-size: 14vw;
  position: relative;
  color: #252839;
  -webkit-text-stroke: 0.3vw #000;
  text-transform: uppercase;
}

h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: aqua;
  border-right: 3px solid aqua;
  -webkit-text-stroke: 0vw #383d52;
  overflow: hidden;
  animation: load 6s linear infinite;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
